@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Source+Serif+Pro:wght@200;300;400;600;700;900&display=swap');

body {
  font-family: 'source serif pro', Arial, Helvetica, serif;
  font-size: 1.15em;
  font-style: normal;
  line-height: 1.65;
  color: #373F49;
  background: rgb(255, 255, 255);
  margin: 0;
}

img {
  display: block;
  width: 100% ;
}

h1{
  font-size: 5em;
  font-family: "DM sans", sans-serif;
  font-weight: 500;
  line-height: 1em;
}


h2,
h3 {
  font-size: 2em;
  font-family: "dm sans";
  font-weight: 400;
}

a {
  color: currentColor;
}
a:hover{
  color: rgb(141, 121, 255);
}

.wrapper-1 {
  width: 80vw;
  margin: 0 auto;

}

@media only screen and (max-width: 600px) {
  .wrapper-1 {
      width: 80vw;
  }
}

.wrapper {
  width: 50vw;
  margin: 0 auto;

}

@media only screen and (max-width: 600px) {
  .wrapper {
      width: 80vw;  }
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .list-inline li {
    display: inline-block;
  }
