@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Sora:wght@100;300;600;800&display=swap');

body {
  font-family: "sora", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-style: normal;
  line-height: 1.65;
  color: #373F49;
  background: rgb(255, 255, 255);
  margin: 0;
}

img {
  display: block;
  width: 100% ;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
}
a:hover{
  color: rgb(141, 121, 255);
}

.wrapper {
  width: 100%;
  margin: 0 auto;

}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .list-inline li {
    display: inline-block;
  }
