.hero {
  position: relative;
  background: rgb(255, 255, 255);
  color: #fff;
  text-align: left;
  height: auto;
}

.heroBlog {
  position: relative;
  background: rgb(185, 133, 133);
  color: #fff;
  text-align: left;
  height: 80vh;

}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: auto;

}


.heroImageblog {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 80vh;

}


.heroDetails {
  position: absolute;
  background: rgba(170, 170, 170);
  bottom: 0;
  font-size: 14px;
  padding: 0 0.5em;
  width: 77vh;
}

@media(min-width: 600px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
